.gridSection {
    display: grid;
    grid-template-columns: repeat(autofit);
    grid-gap: var(--size-3xl);
}

.gridSection__image-content {
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gridSection__content {
    position: absolute;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.gridSection__image {
    filter: grayscale(100%);
    opacity: 40%;
    transition: filter 0.3s, opacity 0.3s;
    transition: transform 0.3s ease-in-out;
}

.gridSection__image:hover {
    transform: scale(1.01);
    filter: grayscale(0%);
    opacity: 80%;
    /* opacity: 60%; */
}

.gridSection__btn {
    font-size: var(--size-xs);
    padding: 0.6rem 2rem;
    font-weight: bold;
    letter-spacing: 1px;
}

.gridSection__btn:hover {
    background-color: white;
    color: black;
}

.gridSection__heading {
    font-size: var(--size-4xl);
    font-weight: bold;
}

::selection {
    background-color: black;
}

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
@media (max-width: 640px) {
    .gridSection__heading {
        font-size: var(--size-4xl);
    }
}

/* md */
/* @media (min-width: 768px) {} */

/* lg */
@media (min-width: 1024px) {
    .gridSection {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* xl */
@media (max-width: 1280px) {
    .gridSection__heading {
        font-size: var(--size-2xl);
    }
}

/* 2xl */
/* @media (min-width: 1536px) {} */